body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
}

.golfCourse {
    width: 1600px;
    height: 750px;
    background-color: #00a72a;
    border-radius: 20px; /* Rundade hörn */
    border: 5px solid #333; /* Mörkgrå ram */
    display: block;
    z-index: -1;
}
.background{
    z-index: 1;
}

canvas {

    background-color: #e0e0e0;
}